<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button class="btn btn-link" routerLink="/">Main Page</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>21.01.2018</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Cumque ea, id labore mollitia nihil nulla odit quas recusandae
      rerum sit tempore vel, veniam! Accusantium corporis cum eos
      excepturi facere ipsa nihil perferendis rerum similique
      voluptatibus? Aspernatur, blanditiis commodi error est eum in
      laborum maiores pariatur, quis rerum, saepe suscipit veritatis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Cumque ea, id labore mollitia nihil nulla odit quas recusandae
      rerum sit tempore vel, veniam! Accusantium corporis cum eos
      excepturi facere ipsa nihil perferendis rerum similique
      voluptatibus? Aspernatur, blanditiis commodi error est eum in
      laborum maiores pariatur, quis rerum, saepe suscipit veritatis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Cumque ea, id labore mollitia nihil nulla odit quas recusandae
      rerum sit tempore vel, veniam! Accusantium corporis cum eos
      excepturi facere ipsa nihil perferendis rerum similique
      voluptatibus? Aspernatur, blanditiis commodi error est eum in
      laborum maiores pariatur, quis rerum, saepe suscipit veritatis.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Cumque ea, id labore mollitia nihil nulla odit quas recusandae
      rerum sit tempore vel, veniam! Accusantium corporis cum eos
      excepturi facere ipsa nihil perferendis rerum similique
      voluptatibus? Aspernatur, blanditiis commodi error est eum in
      laborum maiores pariatur, quis rerum, saepe suscipit veritatis.
    </p>
  </div>
</div>
